@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.no-spinner[type='number'] {
	-moz-appearance: textfield;
}

:root {
	--background: oklch(0.9761 0 0);
	--foreground: oklch(0.141 0.0019 286.2347);
	--card: oklch(0.9761 0 0);
	--card-foreground: oklch(0.2138 0.0019 286.2347);
	--popover: oklch(0.9761 0 0);
	--popover-foreground: oklch(0.2138 0.0019 286.2347);
	--primary: oklch(0.2138 0.0019 286.2347);
	--primary-foreground: oklch(0.9612 0 0);
	--secondary: oklch(0.9491 0 0);
	--secondary-foreground: oklch(0.2138 0.0019 286.2347);
	--muted: oklch(0.9491 0 0);
	--muted-foreground: oklch(0.5452 0 0);
	--accent: oklch(0.9491 0 0);
	--accent-foreground: oklch(0.2138 0.0019 286.2347);
	--destructive: oklch(0.5243 0.2129 25.7249);
	--destructive-foreground: oklch(0.9761 0 0);
	--border: oklch(0.9006 0 0);
	--input: oklch(0.9006 0 0);
	--ring: oklch(0.6927 0 0);
	--chart-1: oklch(0.7933 0.0931 251.4217);
	--chart-2: oklch(0.608 0.1673 260.0734);
	--chart-3: oklch(0.5418 0.1926 263.2025);
	--chart-4: oklch(0.4837 0.183 264.7832);
	--chart-5: oklch(0.4182 0.1484 267.2647);
	--sidebar: oklch(0.9612 0 0);
	--sidebar-foreground: oklch(0.2138 0.0019 286.2347);
	--sidebar-primary: oklch(0.2138 0.0019 286.2347);
	--sidebar-primary-foreground: oklch(0.9612 0 0);
	--sidebar-accent: oklch(0.9491 0 0);
	--sidebar-accent-foreground: oklch(0.2138 0.0019 286.2347);
	--sidebar-border: oklch(0.9006 0 0);
	--sidebar-ring: oklch(0.6927 0 0);
	--font-sans:
		ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
	--font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
	--font-mono:
		ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
		monospace;
	--radius: 0.45rem;
	--shadow-x: 1px;
	--shadow-y: 0.5px;
	--shadow-blur: 12.5px;
	--shadow-spread: -3px;
	--shadow-opacity: 0.25;
	--shadow-color: oklch(0 0 0);
	--shadow-2xs: 1px 0.5px 12.5px -3px hsl(0 0% 0% / 0.13);
	--shadow-xs: 1px 0.5px 12.5px -3px hsl(0 0% 0% / 0.13);
	--shadow-sm: 1px 0.5px 12.5px -3px hsl(0 0% 0% / 0.25), 1px 1px 2px -4px hsl(0 0% 0% / 0.25);
	--shadow: 1px 0.5px 12.5px -3px hsl(0 0% 0% / 0.25), 1px 1px 2px -4px hsl(0 0% 0% / 0.25);
	--shadow-md: 1px 0.5px 12.5px -3px hsl(0 0% 0% / 0.25), 1px 2px 4px -4px hsl(0 0% 0% / 0.25);
	--shadow-lg: 1px 0.5px 12.5px -3px hsl(0 0% 0% / 0.25), 1px 4px 6px -4px hsl(0 0% 0% / 0.25);
	--shadow-xl: 1px 0.5px 12.5px -3px hsl(0 0% 0% / 0.25), 1px 8px 10px -4px hsl(0 0% 0% / 0.25);
	--shadow-2xl: 1px 0.5px 12.5px -3px hsl(0 0% 0% / 0.63);
	--tracking-normal: 0em;
	--spacing: 0.25rem;
}

.dark {
	--background: oklch(0.145 0.0019 286.2347);
	--foreground: oklch(0.9612 0 0);
	--card: oklch(0.2138 0.0019 286.2347);
	--card-foreground: oklch(0.9612 0 0);
	--popover: oklch(0.2645 0 0);
	--popover-foreground: oklch(0.9612 0 0);
	--primary: oklch(0.8053 0.1143 345.9804);
	--primary-foreground: oklch(0.2138 0.0019 286.2347);
	--secondary: oklch(0.3639 0 0);
	--secondary-foreground: oklch(0.9612 0 0);
	--muted: oklch(0.2645 0 0);
	--muted-foreground: oklch(0.6927 0 0);
	--accent: oklch(0.3639 0 0);
	--accent-foreground: oklch(0.9612 0 0);
	--destructive: oklch(0.6873 0.1716 21.4478);
	--destructive-foreground: oklch(0.9612 0 0);
	--border: oklch(0.2698 0.0055 286.0255);
	--input: oklch(0.3171 0 0);
	--ring: oklch(0.5452 0 0);
	--chart-1: oklch(0.7933 0.0931 251.4217);
	--chart-2: oklch(0.608 0.1673 260.0734);
	--chart-3: oklch(0.5418 0.1926 263.2025);
	--chart-4: oklch(0.4837 0.183 264.7832);
	--chart-5: oklch(0.4182 0.1484 267.2647);
	--sidebar: oklch(0.2138 0.0019 286.2347);
	--sidebar-foreground: oklch(0.9612 0 0);
	--sidebar-primary: oklch(0.4814 0.2029 265.3895);
	--sidebar-primary-foreground: oklch(0.9612 0 0);
	--sidebar-accent: oklch(0.2645 0 0);
	--sidebar-accent-foreground: oklch(0.9612 0 0);
	--sidebar-border: oklch(0.2686 0 0);
	--sidebar-ring: oklch(0.4313 0 0);
	--font-sans:
		ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
	--font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
	--font-mono:
		ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
		monospace;
	--radius: 0.45rem;
	--shadow-x: 1px;
	--shadow-y: 0.5px;
	--shadow-blur: 12.5px;
	--shadow-spread: -3px;
	--shadow-opacity: 0.25;
	--shadow-color: oklch(0 0 0);
	--shadow-2xs: 1px 0.5px 12.5px -3px hsl(0 0% 0% / 0.13);
	--shadow-xs: 1px 0.5px 12.5px -3px hsl(0 0% 0% / 0.13);
	--shadow-sm: 1px 0.5px 12.5px -3px hsl(0 0% 0% / 0.25), 1px 1px 2px -4px hsl(0 0% 0% / 0.25);
	--shadow: 1px 0.5px 12.5px -3px hsl(0 0% 0% / 0.25), 1px 1px 2px -4px hsl(0 0% 0% / 0.25);
	--shadow-md: 1px 0.5px 12.5px -3px hsl(0 0% 0% / 0.25), 1px 2px 4px -4px hsl(0 0% 0% / 0.25);
	--shadow-lg: 1px 0.5px 12.5px -3px hsl(0 0% 0% / 0.25), 1px 4px 6px -4px hsl(0 0% 0% / 0.25);
	--shadow-xl: 1px 0.5px 12.5px -3px hsl(0 0% 0% / 0.25), 1px 8px 10px -4px hsl(0 0% 0% / 0.25);
	--shadow-2xl: 1px 0.5px 12.5px -3px hsl(0 0% 0% / 0.63);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
