@font-face {
    font-family: "Fira Code";
    src: url("/assets/firacode/FiraCode-VariableFont_wght.ttf");
}
html,
body,
div,
iframe {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    border: none;
    background-color: #1e1e1e;
}

iframe {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

img,
#pdf-canvas {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    display: block;
}

#text {
    font-family: "Fira Code";
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 100vh;
    width: 100vw;
    color: #f280a1;
    font-size: 4rem;
}

.hidden {
    display: none;
}
