
:root {
	/* =~= Theme Properties =~= */
	--theme-font-family-base: system-ui;
	--theme-font-family-heading: system-ui;
	--theme-font-color-base: 0 0 0;
	--theme-font-color-dark: 255 255 255;
	--theme-rounded-base: 4px;
	--theme-rounded-container: 4px;
	--theme-border-base: 1px;
	/* =~= Theme On-X Colors =~= */
	--on-primary: 255 255 255;
	--on-secondary: 255 255 255;
	--on-tertiary: 255 255 255;
	--on-success: 255 255 255;
	--on-warning: 255 255 255;
	--on-error: 255 255 255;
	--on-surface: 255 255 255;
	/* =~= Theme Colors  =~= */
	/* primary | #f280a1 */
	--color-primary-50: 253 236 241; /* ⬅ #fdecf1 */
	--color-primary-100: 252 230 236; /* ⬅ #fce6ec */
	--color-primary-200: 252 223 232; /* ⬅ #fcdfe8 */
	--color-primary-300: 250 204 217; /* ⬅ #faccd9 */
	--color-primary-400: 246 166 189; /* ⬅ #f6a6bd */
	--color-primary-500: 242 128 161; /* ⬅ #f280a1 */
	--color-primary-600: 218 115 145; /* ⬅ #da7391 */
	--color-primary-700: 182 96 121; /* ⬅ #b66079 */
	--color-primary-800: 145 77 97; /* ⬅ #914d61 */
	--color-primary-900: 119 63 79; /* ⬅ #773f4f */
	/* secondary | #9966cc */
	--color-secondary-50: 240 232 247; /* ⬅ #f0e8f7 */
	--color-secondary-100: 235 224 245; /* ⬅ #ebe0f5 */
	--color-secondary-200: 230 217 242; /* ⬅ #e6d9f2 */
	--color-secondary-300: 214 194 235; /* ⬅ #d6c2eb */
	--color-secondary-400: 184 148 219; /* ⬅ #b894db */
	--color-secondary-500: 153 102 204; /* ⬅ #9966cc */
	--color-secondary-600: 138 92 184; /* ⬅ #8a5cb8 */
	--color-secondary-700: 115 77 153; /* ⬅ #734d99 */
	--color-secondary-800: 92 61 122; /* ⬅ #5c3d7a */
	--color-secondary-900: 75 50 100; /* ⬅ #4b3264 */
	/* tertiary | #1c71d8 */
	--color-tertiary-50: 221 234 249; /* ⬅ #ddeaf9 */
	--color-tertiary-100: 210 227 247; /* ⬅ #d2e3f7 */
	--color-tertiary-200: 198 220 245; /* ⬅ #c6dcf5 */
	--color-tertiary-300: 164 198 239; /* ⬅ #a4c6ef */
	--color-tertiary-400: 96 156 228; /* ⬅ #609ce4 */
	--color-tertiary-500: 28 113 216; /* ⬅ #1c71d8 */
	--color-tertiary-600: 25 102 194; /* ⬅ #1966c2 */
	--color-tertiary-700: 21 85 162; /* ⬅ #1555a2 */
	--color-tertiary-800: 17 68 130; /* ⬅ #114482 */
	--color-tertiary-900: 14 55 106; /* ⬅ #0e376a */
	/* success | #26a269 */
	--color-success-50: 222 241 233; /* ⬅ #def1e9 */
	--color-success-100: 212 236 225; /* ⬅ #d4ece1 */
	--color-success-200: 201 232 218; /* ⬅ #c9e8da */
	--color-success-300: 168 218 195; /* ⬅ #a8dac3 */
	--color-success-400: 103 190 150; /* ⬅ #67be96 */
	--color-success-500: 38 162 105; /* ⬅ #26a269 */
	--color-success-600: 34 146 95; /* ⬅ #22925f */
	--color-success-700: 29 122 79; /* ⬅ #1d7a4f */
	--color-success-800: 23 97 63; /* ⬅ #17613f */
	--color-success-900: 19 79 51; /* ⬅ #134f33 */
	/* warning | #e66100 */
	--color-warning-50: 251 231 217; /* ⬅ #fbe7d9 */
	--color-warning-100: 250 223 204; /* ⬅ #fadfcc */
	--color-warning-200: 249 216 191; /* ⬅ #f9d8bf */
	--color-warning-300: 245 192 153; /* ⬅ #f5c099 */
	--color-warning-400: 238 144 77; /* ⬅ #ee904d */
	--color-warning-500: 230 97 0; /* ⬅ #e66100 */
	--color-warning-600: 207 87 0; /* ⬅ #cf5700 */
	--color-warning-700: 173 73 0; /* ⬅ #ad4900 */
	--color-warning-800: 138 58 0; /* ⬅ #8a3a00 */
	--color-warning-900: 113 48 0; /* ⬅ #713000 */
	/* error | #e01b24 */
	--color-error-50: 250 221 222; /* ⬅ #faddde */
	--color-error-100: 249 209 211; /* ⬅ #f9d1d3 */
	--color-error-200: 247 198 200; /* ⬅ #f7c6c8 */
	--color-error-300: 243 164 167; /* ⬅ #f3a4a7 */
	--color-error-400: 233 95 102; /* ⬅ #e95f66 */
	--color-error-500: 224 27 36; /* ⬅ #e01b24 */
	--color-error-600: 202 24 32; /* ⬅ #ca1820 */
	--color-error-700: 168 20 27; /* ⬅ #a8141b */
	--color-error-800: 134 16 22; /* ⬅ #861016 */
	--color-error-900: 110 13 18; /* ⬅ #6e0d12 */
	/* surface | #1f1f1f */
	--color-surface-50: 221 221 221; /* ⬅ #dddddd */
	--color-surface-100: 210 210 210; /* ⬅ #d2d2d2 */
	--color-surface-200: 199 199 199; /* ⬅ #c7c7c7 */
	--color-surface-300: 165 165 165; /* ⬅ #a5a5a5 */
	--color-surface-400: 98 98 98; /* ⬅ #626262 */
	--color-surface-500: 31 31 31; /* ⬅ #1f1f1f */
	--color-surface-600: 28 28 28; /* ⬅ #1c1c1c */
	--color-surface-700: 23 23 23; /* ⬅ #171717 */
	--color-surface-800: 19 19 19; /* ⬅ #131313 */
	--color-surface-900: 15 15 15; /* ⬅ #0f0f0f */	

}
